<%= inspect @tally %>

<p>
Turns left: <%= @tally.turns_left %>
</p>

<p>
Word so far: <%= join_with_space(@tally.letters) %>
</p>

<p>
Letters used: <%= join_with_space(@tally.letters_used) %>
</p>

<form>

</form>