<%= inspect @tally %>

<p>
Turns left: <%= @tally.turns_left %>
</p>

<p>
Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>

<p>
Letters used: <%= @tally.letters_used |> Enum.join(" ") %>
</p>

<form>

</form>